.header {
    border-top:4px solid $primary;
    background-color:$white;
    &__content{
        justify-content:space-between;
        display:flex;
        max-width: 1500px;
        margin: 0 auto;
        padding: 24px 12px;
        > * {
            margin: 0 12px;
        }
        align-items:center;
        &__nav {
            ul{
                list-style-type:none;
                margin:0;
                padding:0;
                display:flex;
            }
            a {
                text-decoration:none;
                display:inline-flex;
                align-items:center;
                font-size:14px;
                font-weight:normal;
                justify-content:center;
                padding: 0 12px;
                color: $grey;
            }
        }
    }
    &__img {
        height:35px;
        display:block;
    }
    &__subheader {
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        padding: 0 24px;
        &__nav {
            max-width: 1500px;
            margin: 0 auto;
            ul{
                list-style-type:none;
                margin:0;
                padding:0;
                display:flex;
            }
            a {
                text-decoration:none;
                display:inline-flex;
                align-items:center;
                font-size:15px;
                font-weight:normal;
                justify-content:center;
                padding: 20px 16px;
                color: $grey;
            }
        }
    }
    &__search {
        position:relative;
        width:50%;
        &__icon {
            position:absolute;
            line-height:inherit;
            padding:0;
            left:12px;
            font-weight:bold;
            color: $primary;
            top:0;
            bottom:0;
            font-size:22px;
            display:flex;
            align-items:center;
            background:none;
            border:none;
            z-index:1;
        }
        &__input {
            width:100%;
            border-radius:3px;
            box-sizing:border-box;
            padding: 12px 8px 10px 40px;
            border:0;
            box-shadow:inset 0 0 0 2px #f1f1f1;
            &::placeholder {
                color: $primary;
            }
        }
        &:before,&:after {
          box-sizing:border-box;
          content:"";
          width:0;
          height:0;
          position:absolute;
          border: 2px solid transparent;
          pointer-events:none;
        }
        &:before{    
            top:0;
            right:0;
        }
        &:after{            
          bottom:0;
          left:0;
        }
        &:hover{
          &:before,&:after{
            width:100%;
            height:100%;
          }
          &:before{
            border-bottom-color:$primary;
            border-right-color:$primary;
            transition: width .2s linear .2s, height .2s linear;     
          }
          &:after {
            border-top-color:$primary;
            border-left-color:$primary;
            transition: width .2s linear .2s, height .2s linear;       
          }
        }
    }
}