.shelf {
    $self: &;
    position:fixed;
    z-index:20;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    &__close {
        background:none;
        position: absolute;
        color:$white;
        border:none;
        left: 16px
    }
    &__drawer{
        background-color: $white;
        z-index:21;
        opacity: 0;
        position:absolute;
        box-shadow: 0 0 20px rgba(0,0,0,.3);
        top:0;
        box-sizing:border-box;
        left:0;
        height:100%;
        transition: transform .4s, opacity 0s linear .4s;
        width:100%;
        @include media-breakpoint-down(lg){            
            transform: translateX(-100%);
        }
        ul {
            list-style-type:none;
            margin:0;
            padding:0;
            li {
                a {                
                    text-align:center;
                    display:block;
                    font-weight:500;
                    letter-spacing:2px;
                    font-size:18px;
                    padding: 16px 16px;
                    transition: background-color .2s;
                    @include hover-focus-active {
                        background-color: darken($primary, 5%);
                        color:$white;
                    }
                }
            }
        }
        &__body {
            display:flex;
            box-sizing:border-box;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            height:100%;
            padding: 55px 24px;
        }
        &__header{        
            justify-content:center;
            height: 55px;
            width:100%;
            display:flex;
            align-items:center;
            position:absolute;
            top:0;
        }
    }
    &:before{
        content:"";
        opacity:0;
        position:absolute;
        width:100%;
        height:100%;
        background-color:$black;
        transition: opacity .4s;
    }
    &--visible{
        @include media-breakpoint-down(lg){    
            pointer-events:auto;
        }
        &:before{
            @include media-breakpoint-down(lg){       
                opacity:.5;
            }
        }
        #{$self}__drawer{
            @include media-breakpoint-down(lg){      
                transition: transform .4s;
                opacity: 1;
            }
            @include media-breakpoint-down(lg){    
                transform: translateY(0);
            }
        }
    }
}