.job-viewer {
    $self: &;
    margin: 0 auto;
    max-width: 1300px;
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    @include media-breakpoint-up(lg) {
        flex-direction:row;
    }
    &__fetch {
        text-align:center;
        display:block;
        color: $primary;
        border:none;
        width:100%;
        background:#fff;
        padding: 16px;
    }
    &__items {
        ul {
            margin:0;
            list-style-type:none;
            padding:0;
        }
        height:300px;
        width:100%;
        margin-bottom:16px;
        overflow-y:auto;
        @include custom-scrollbar;
        @include media-breakpoint-up(lg) {
            margin-bottom:0;
            height:auto;
            width:400px;
            min-width:400px;
            max-height: 74vh;
        }
    }
    &__item { 
        background-color:$white;
        margin: 2px 0; 
        padding: 24px;
        display:block;       
        display:flex;
        align-items:flex-start;
        transition: border-color .3s;
        &__title {
            display:block;
            &:hover,&:focus,&:active {
                text-decoration:underline;
            }
        }
        &__employer {
            display:block;
            font-weight:normal;
            color:$light;
            font-size:13px;
        }
        &__locale {
            display:block;
            font-weight:normal;
            color:$light;
            font-size:13px;
        }
        &__img {
            margin-right: 20px;
            width:40px;
            display:block;
            min-width:40px;
        }
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        &--active {
            border-left:5px solid $primary;
        }
    }
    &__content {
        margin-top:2px;
        margin-bottom:2px;
        background-color:$white;
        flex-grow:1;
        max-width:100%;
        padding:24px 32px;
        margin-left:0;
        overflow-y:auto;
        @include custom-scrollbar;
        @include media-breakpoint-up(lg) {
            margin-left:12px;
            max-height: 74vh;
        }
        &__title {
            font-size:24px;
            padding:8px 0;
        }
        &__header {
            display:flex;
            align-items:center;
        }
        &__subtitle {
            color: $light;
        }
        &__img {
            width:60px;
            margin-right:24px;
        }
    }
}