@each $spacer-size-key, $spacer-size-value in $spacer-sizes {
    @each $spacer-type-key, $spacer-type-value in $spacer-types {    
        .#{$spacer-type-key}l-#{$spacer-size-key} {
            #{$spacer-type-value}-left: $spacer-size-value;
        }
        .#{$spacer-type-key}r-#{$spacer-size-key} {
            #{$spacer-type-value}-right: $spacer-size-value;
        }
        .#{$spacer-type-key}t-#{$spacer-size-key} {
            #{$spacer-type-value}-top: $spacer-size-value;
        }
        .#{$spacer-type-key}b-#{$spacer-size-key} {
            #{$spacer-type-value}-bottom: $spacer-size-value;
        }
        .#{$spacer-type-key}x-#{$spacer-size-key} {
            #{$spacer-type-value}-right: $spacer-size-value;
            #{$spacer-type-value}-left: $spacer-size-value;
        }
        .#{$spacer-type-key}y-#{$spacer-size-key} {
            #{$spacer-type-value}-bottom: $spacer-size-value;
            #{$spacer-type-value}-top: $spacer-size-value;
        }
        .#{$spacer-type-key}-#{$spacer-size-key} {
            #{$spacer-type-value}-bottom: $spacer-size-value;
            #{$spacer-type-value}-top: $spacer-size-value;
            #{$spacer-type-value}-right: $spacer-size-value;
            #{$spacer-type-value}-left: $spacer-size-value;
        }
    }
}

.font-weight-semibold {
    font-weight:500;
}

.d-flex{
    display:flex;
}

@each $d in $displays {
    .d-#{$d} {
        display: $d !important;
    }
    @each $k, $v in $breakpoints {
        .d-#{$k}-#{$d} {
            @include media-breakpoint-up($k) {
                display: $d !important;
            }
        }    
    }
}

.flex-column{
    flex-direction:column;
}
.flex-grow-1{
    flex-grow:1;
}